body{
  background-color: black;

  .bottom-information{
    color: #2E2E1F;
    font-size: 18px;
  }
  .scramble{
    margin-top: 200px;
    margin-bottom: 200px;

    .word{
      margin-top: 20px;
      margin-left: 450px;
      .letter{
        float: left;
        display: inline;
        height: 50px;
        width: 50px;
        margin: 10px;
        font-size: 40px;
      }
      .correct{
        color: #3D5200;
      }
      .incorrect{
        color: red;
      }
      .neutral{
        color: #2E2E1F;
      }
      .used{
        color: #2E2E1F;
      }
      .unused{
        background-color: white;
        color:  #2E2E1F;
      }
    }
    .bottom{
      font-size: 20px;
    }
  }
}

